html {
  background-color: grey;
  display: block;
  text-align: center;
}
ul {
    list-style-position: inside;
}

footer p {
  text-align: center;
  font-family: impact;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

#intro {
  background-color: yellow;
  font-family: Impact;

  text-align: center;
}

.titles {
  margin-top: 2em;
  font-family: Futura;
}

img {
  padding: .1em;
}
